@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/* Navbar and general setup */
div {
    border: box;
    box-sizing: border-box;
    display: block;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    
}
.container {
    background-color: black;
}
.navbar {
    background-color: black;
    margin: 0 auto;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 9999;
    overflow: hidden;
}
.nav-logo {
    padding-top: 5px;
    padding-left: 70px;
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}
.nav-elements {
    /*background-color: pink;*/
    display: flex;
    float: right;
    padding-top: 15px;
    padding-right: 70px;
    padding-bottom: 30px;
    overflow: hidden;
}
.nav-elements a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    border-right: 0.3px solid #c9c7c7;
}
.nav-elements a:nth-last-child(2) {
    border-right: none;
}
.nav-elements a:last-child {
    border-right: none;
}
.navbar .icon {
    display: none;
  }
/* Page content */
.content {
    background-color:black;
    /*padding: 1000px;*/
  }

/* Content divs */
.first-home-box {
    background-image: 
        linear-gradient(to right,
        rgba(0,0,0,0.4), rgba(0,0,0,0)),
        url("../img/drone2.jpg");
    width:100%; 
    height:570px;
    background-position-x: 15%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0 60px;
    margin-bottom: -1;
    display: block;
    position: relative;
    /*max-width: 100%;
    height: auto;*/
}
.info-container-1 {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: -50px;
    margin-left: 50px;
    margin-top: 110px;
    box-sizing: border-box;
}
.col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
h4 {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
}
h1{
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 0px;
    margin: 0px;
}
.second-home-box {
    background-image: 
    linear-gradient(to left,
    rgba(0,0,0,0.9), rgba(0,0,0,0)),
    url("../img/cars1.jpeg");
    width:100%; 
    height:570px;
    background-position-y: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0 60px;
    margin-bottom: -1;
    display: block;
    position: relative;
    /*max-width: 100%;
    height: auto;*/
}
.alignment-container.align-right{
    display: block;
    float: right;
    margin-right: 50px;;
}
.third-home-box {
    background-image: 
        linear-gradient(to right,
        rgba(0,0,0,0.8), rgba(0,0,0,0)),
        url("../img/board_bw2.jpg");
    width:100%; 
    height:570px;
    background-position-x: 15%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px;
    margin-bottom: -1;
    display: block;
    position: relative;
    overflow: auto;
    /*max-width: 100%;
    height: auto;*/
}
.button {
    margin-top: 20px;
    background-color: transparent; /* Green */
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Footer */
footer {
    width: 100%;
    float: left;
    padding: 80px 0 40px;
    background: #000;
    display: block;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
/* Left column */
.foot-left {
    position: relative;
    border: 0;
    padding: 0 15px;

}
footer h4 {
    text-align: center;
    margin-bottom: 30px;
    color: #adadad;
    font-weight: 700;
}
.socials {
    border-right: 0;
    height: auto;
    float: none;
    width: 371px;
    padding-left: 35px;
    margin: 0 auto 90px;
    padding: 0 1.75rem 0 0;
    box-sizing: border-box;
    /* below may or may not be needed */
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;;
}
.socials li {
    list-style: none;
    margin-bottom: 10px;
}
.socials li a {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .5px;
    text-decoration: None;
}
/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 2rem !important;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 70%;
  }
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  /* Set a specific color for each brand */
  /* Facebook */
  .fa-facebook {
    background: none;
    color: white;
  }
  /* Twitter */
  .fa-twitter {
    background: none;
    color: white;
  }
  /* Twitter */
  .fa-linkedin {
    background: none;
    color: white;
  }
/* Center column */
.foot-center{ 
    border: 0;
    padding: 0 15px;
    border-right: 1px solid rgba(255,255,255,.2);
    border-left: 1px solid rgba(255,255,255,.2);
}
.socials li.foot-nav{
    text-align: center;
}
.foot-info a{
    color: #adadad !important;
    pointer-events: none;
    cursor: default;
}

@media screen and (max-width: 800px) {
    /* Change to :last-child to see hamburger menu wihtout about */
    .nav-elements a:not(:last-child) {display: none;}
    .nav-elements a.icon {
      float: right;
      display: block;
    }
    .nav-logo {
        padding-left: 70px;
        padding-top: 15px;
        height: auto;
        width: auto;
        max-height: 72px;
        max-width: 250px;
    }
    .socials li.foot-nav{
        text-align: left;
    }
    .foot-center {
        border-right: none;
    }
    .foot-right {
        padding-top: 10px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .nav-elements.responsive {position: relative;}
    .nav-elements.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-elements.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
/* About Page */
.title-box-1 {
    box-sizing: border-box;
    display: block;
    background-color: white;;
}
.title-alignment {
    position: relative;
    display: block;
    box-sizing: border-box;
    text-align: center;
    max-width: 1140px;
    padding: 20px;
    margin: 0 auto;
    color: black;
}
.title-alignment h1 {
    font-weight: 600;
    margin: 0;
    line-height: 58px;
    font-size: 3rem!important;
}
.title-alignment h4 {
    line-height: 1.4;
    font-weight: 400;
    font-size: 1.125rem;
    margin: 1em 0 0;
}
.about-1 {
    position: relative;
    display: block;
    background-color: #fff;
    box-sizing: border-box;
}
.about-1-alignment {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1140px;
    padding: 40px 20px;
    box-sizing: content-box;
}
.about-1-content {
    background-color: #fff;
    position: relative;
    display: block;
    box-sizing: border-box;
}
.about-1-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.05rem;
    line-height: 1.6;
    font-weight: 200;
    margin-bottom: 1em;
    color: rgb(90, 88, 88) !important;
}
.about-1-content h4 {
    font-weight: 400 !important;
    font-size: 1.125rem !important;
    margin: 1em 0 0;
}
.about-2 {
    position: relative;
    display: block;
    background-color: #fff;
    box-sizing: border-box;
}
.about-2-alignment {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1140px;
    padding: 40px 20px;
    box-sizing: content-box;
}
.about-img-1{
    background-image: url("../img/technology.jpg");
    background-position: center;
    width:100%; 
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px;
    margin-bottom: -1;
    display: block;
    position: relative;
    overflow: auto;
}
.title-box-2 {
    box-sizing: border-box;
    display: block;
    background-color: black;
    padding: 10px;
}
.title-box-2 h1 {
    color: #fff;
}
.about-img-2{
    background-image: url("../img/osu2.jpg");
    background-position: bottom;
    width:100%; 
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px;
    margin-bottom: -1;
    display: block;
    position: relative;
    overflow: auto;
}
.first-about-box {
    background-image: url("../img/drone4.jpg");
    width:100%; 
    height:570px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 60px 60px;
    margin-bottom: -1;
    display: block;
    position: relative;
}
.first-about-box p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.05rem;
    line-height: 1.4;
    font-weight: 200;
}
.second-about-box {
    border-top: 1px solid rgba(255,255,255,.2);
    background-image: url("../img/car.jpg");
    width:100%; 
    height:570px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 60px 60px;
    margin-bottom: -1;
    display: block;
    position: relative;
}
.second-about-box p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.05rem;
    line-height: 1.4;
    font-weight: 200;
}
.third-about-box {
    background-image: url("../img/bees.jpg");
    width:100%; 
    height:570px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-left: 400px;
    margin-bottom: -1;
    display: block;
    position: relative;
}
.third-about-box p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.05rem;
    line-height: 1.4;
    font-weight: 200;
}
@media screen and (max-width: 800px) {
    .third-about-box{
        padding: 30px 60px 60px;
    }
}

/* Team Page */
.team-title-box-1 {
    box-sizing: border-box;
    display: block;
    background-color: black;
}
.team-title-box-1 h1 {
    color: #fff;
}
.title-image-wrapper {
    background-color: #fff;
    position: relative;
    height: 300px;
    width: 100%;
    background-image: url("../img/columbus.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-left: 400px;
    margin-bottom: -1;
    display: block;
    position: relative;
}
.team-grid-wrapper {
    position: relative;
    display: block;
    font-family: 'Roboto', sans-serif;
    background-color: #e9ebed;
    padding: 30px 0;
    box-sizing: border-box;
}
.team-background {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 15.625rem;
    background-color: #e9ebed;
    box-sizing: border-box;
    display: block;
}
.team-grid-align {
    max-width: 950px!important;
    position: relative;
    display: block;
    margin: 0 auto;
    box-sizing: content-box;
}
.team-header-wrapper {
    padding: 0 18px;
    padding-bottom: 30px;
}
.team-header-wrapper h1 {
    font-size: 2.05rem;
}
/* Three columns side by side */
.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
    margin-left:30px;
}
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 800px) {
    .column {
      width: 75%;
      display: block;
    }
}
/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}
  
/* Some left and right padding inside the container */
.team-container {
    padding: 0 16px;
    background-color: white;
} 
/* Clear floats */
.team-container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
.title {
    color: grey;
}
.additional-wrapper {
    position: relative;
    display: block;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    padding: 30px 0;
    box-sizing: border-box;
    height: 450px;
}
.additional-align {
    max-width: 950px !important;
    position: relative;
    display: block;
    margin: 0 auto;
    box-sizing: content-box;
    background-color: #fff;
}
.additional-align .card {
    box-shadow: none;
}







